    <div class = 'header'>
        <div class="header-left">
            <img id="logo" width="20%" src="/images/logo.png" alt="App Logo">
            <span class = "title">{{ pageTitle }}</span>
        </div>
        <div class=" header-middle">
        {{#if loggedInUser}}
                <span style="padding-left: 7%;">{{loggedInUser}}</span>
                <span><button class = 'log-in-out-button' style="padding-left: 7%;" onclick="logoutPath('{{logoutpath}}')">Logout</button></span>
                
                <!--<a href="{{logoutpath}}" style="margin-left: 20px; margin-right: 30px;">Logout</a>-->
            {{else}}
                <span style="padding-left: 7%;"><button class = 'log-in-out-button' onclick="loginPath('{{loginpath}}')">Login</button></span>
            {{/if}}
        </div>
        <div class="header-right-customer">
            <a class="button" style="color: rgba(27,93,107,1);;" href="/basket">
            <i class="fa-solid fa-basket-shopping"></i><span style="text-decoration: none;" >({{numberOfBasketItems}})</span>
            </a>
        </div>
    </div>

<script>
    function loginPath(loginpath){
        window.location.href = loginpath;
    }

    function logoutPath(logoutpath){
        window.location.href = logoutpath;
    }

    document.getElementById("logo").addEventListener("click", function(){
        window.location.href = '/menu';
    })
</script>