    <div class = 'header'>
        <img id="logo" width="20%" src="/images/logo.png" alt="App Logo">
        <span class = "title">{{ pageTitle }}</span>
        {{#if loggedInUser}}
                <span style="padding-left: 7%;">Welcome, {{loggedInUser}}</span>
                <a href={{logoutpath}}><span>Logout</span></a>
            {{else}}
                <span style="padding-left: 7%;"><a href="{{loginpath}}">Login</a></span>
            {{/if}}
        <a class="button" style="color: rgba(27,93,107,1);;" href="/basket">
        <i class="fa-solid fa-basket-shopping"></i><span style="text-decoration: none;" >({{numberOfBasketItems}})</span>
        </a>
    </div>

<script>
    document.getElementById("logo").addEventListener("click", function(){
        window.location.href = '/menu';
    })
</script>