    <div class="header">
        <div class="header-left">
            <img id="logo" width="20%" src="/images/logo.png" alt="App Logo">
            <span class="title">{{ pageTitle }}</span>
        </div>
        <div class="header-middle">
            {{#if loggedInUser}}
                <button class="btn btn-primary" style="background-color: rgba(27,93,107,1); padding-left: 7%; margin-right: 30px;" onclick="logoutPath('{{logoutpath}}')">Logout</button>
            {{else}}
                <button class="btn btn-primary" style="background-color: rgba(27,93,107,1); padding-left: 7%; margin-right: 30px;" onclick="loginPath('{{loginpath}}')">Login</button>
            {{/if}}
            <button class="btn btn-primary" style="background-color: rgba(27,93,107,1);" onclick="tables()">T:{{#if selectedtable}}{{selectedtable}}{{else}}none{{/if}}</button>
        </div>
        <div class="header-right">
        <a class="button" style="color: rgba(27,93,107,1);;" href="/worker/basket">
        <i class="fa-solid fa-basket-shopping"></i>
        </a>
        </div>
    </div>

<script>
    function loginPath(loginpath){
        window.location.href = loginpath;
    }

     function tables(){
        window.location.href = '/worker/tables';
    }

    function logoutPath(logoutpath){
        window.location.href = logoutpath;
    }

    document.getElementById("logo").addEventListener("click", function(){
        window.location.href = '/worker/menu';
    })
</script>