<div class="separator">
    <hr>
</div> 
<div class="basket-items">
    {{#each items}}
    <div class="item" id={{id}}>
        <div class = 'desc-and-price'>
            <p class="text-content">{{name}}  {{quantity}}</p>
            <p class="price">{{price}} €</p>
        </div>
        <div class="desc-and-price">
            <p class="desc">{{description}}</p>
        </div>
    </div>
    <div class="inbetween-separator">
        <hr>
    </div>
    {{/each}}
{{#if items}}
<div class="button-container">
    <button class="btn btn-primary" style="background-color: rgba(27,93,107,1); margin-right: 10%;" id="submitorder">{{submitButton}}</button>
    <button class="btn btn-primary" style="background-color: rgba(27,93,107,1);" id="clearBasket">Clear Basket</button>
</div>
{{else}}
    <div>Your current basket is empty</div>
{{/if}}
</div>

<div class="end-separator">
    <hr>
</div>
    

<script>
        document.addEventListener('DOMContentLoaded', function () {
            const clearBasket = document.querySelector('#clearBasket');
            clearBasket.addEventListener('click', async function (event) {
                try {
                    const response = await fetch('/worker/basket/clear', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    }); 
                    if (response.status == 200) {
                        window.location.reload();
                    } else {
                        alert(await response.text());
                    }
                } catch (err) {
                    console.error('Error:', err);
                }
            });


            const form = document.querySelector('#submitorder');

            form.addEventListener('click', async function (event) {
                event.preventDefault();
                try {
                    const response = await fetch('/worker/basket/submit', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    }); 
                    if (response.status == 200) {

                        alert(await response.text());
                    } else {
                        alert(await response.text());
                    }
                } catch (err) {
                    console.error('Error:', err);
                }
            }); 
        });

    </script>