    <div class="separator">
        <hr>
    </div>
    <div class="menu_categories">
        {{#each menuCats}}
        {{#if chosen}}
        <button class="menu" id="chosen" onclick="redirectToMenu('{{category}}')">{{category}}</button>
        {{else}}
        <button class="menu" onclick="redirectToMenu('{{category}}')">{{category}}</button>
        {{/if}}
        {{/each}}
    </div>
    <div class="chosen_menu">
        {{chosenCat}}
    </div>
    <div class="items">
        {{#each items}}
        <div class="item">
            <p class="text-content">{{name}}</p>
            <div class="desc-and-price">
                <p class="desc">{{description}}</p>
                <p class="price">{{price}}</p>
            </div>
        </div>
        <div class="inbetween-separator">
            <hr>
        </div>
        {{/each}}
    </div>

    <div class="settings">
        
        <button class="button" onclick="settings()"><img src="https://storage.cloud.google.com/imageswebprogramming/publicImages/settings.png"></button>
    </div>
    <div class="end-separator">
        <hr>
    </div>

    <script>
        function redirectToMenu(category) {
            window.location.href = "/menu/" + category;    
            let prevChosenSubcat = document.querySelector('#chosen');
            prevChosenSubcat.removeAttribute("id");
            let button = event.target;
            button.setAttribute("id", "chosen");
            document.querySelector('.chosen_menu').textContent = button.textContent;
        }

/*
        document.querySelectorAll('.menu').forEach(button => {
            button.addEventListener('click', function(){
                button.setAttribute("id", "chosen");
                window.location.href = "/menu/Coffee";
*/            
                //document.querySelector('.chosen_menu').textContent = button.textContent;
            //κώδικας για εναλλαγή των παραθύρων του menu
    </script>