    <div class="separator">
        <hr>
    </div>
    <div class="menu_categories">
        {{#each menuCats}}
        {{#if chosen}}
        <button class="menu" id="chosen" onclick="redirectToMenu(0)">{{category}}</button>
        {{else}}
        <button class="menu" onclick="redirectToMenu('{{category}}')">{{category}}</button>
        {{/if}}
        {{/each}}
    </div>
    {{#each items}}
    <div class="chosen_menu">
        {{@key}}
    </div>
    <div class="items">
        {{#each this}}
        <div class="item">
            <p class="text-content" data-bs-toggle="modal" data-bs-target="#myModal">{{name}}</p>
            <div class="desc-and-price">
                <p class="desc">{{description}}</p>
                <p class="price">{{price}} €</p>
            </div>
        </div>
        <div class="inbetween-separator">
            <hr>
        </div>
        {{/each}}
        {{/each}}
    </div>
    <div class="end-separator">
        <hr>
    </div>
    

    <script>
        function redirectToMenu(category) {
            if (category !== 0) {
            window.location.href = "/menu/" + category;    
            }
            else {
                window.location.href = "/menu";
            }
        }
    </script>