    <div class="separator">
        <hr>
    </div>
    <div class="locs">
        {{#each locs}}
            {{#if chosen}}
                <button class="sector" id="chosen" onclick="redirectToSector(0)">{{tablelocation}}</button>
            {{else}}
                <button class="sector" onclick="redirectToSector('{{tablelocation}}')">{{tablelocation}}</button>
            {{/if}}
        {{/each}}
    </div>
    {{#each tables}}
    <div class = "chosen_sector">
        {{@key}}
    </div>
    <div class="tables">
        {{#each this}}
        <div class="table">
            <div class = "left-bar" data-bs-toggle="modal" data-bs-target="#myModal">
                {{ name }}
            </div>
            <div class = "right-bar">
                {{ status }}
            </div>
        </div>
        <div class="inbetween-separator">
            <hr>
        </div> 
        {{/each}}
        {{/each}}
    </div>


<script>
    function redirectToSector(tablelocation) {
        if (tablelocation !== 0){
            window.location.href = "/worker/tables/" + tablelocation;   
        } 
        else{
            window.location.href = "/worker/tables/";
        }
    }
</script>
