    <div class="separator">
        <hr>
    </div>
    <div class="sectors">
        {{#each sectors}}
        {{#if chosen}}
        <button class="sector" id="chosen" onclick="redirectToSector(0)">{{sector}}</button>
        {{else}}
        <button class="sector" onclick="redirectToSector('{{sector}}')">{{sector}}</button>
        {{/if}}
        {{/each}}
    </div>
    {{#each tables}}
    <div class = "chosen_sector">
        {{@key}}
    </div>
    <div class="tables">
        {{#each this}}
        <div class="table">
            <div class = "left-bar" data-bs-toggle="modal" data-bs-target="#myModal">
                {{ name }}
            </div>
            <div class = "right-bar">
                {{ status }}<br>{{#if extraInfo }}{{ extraInfo }}{{/if}}
            </div>
        </div>
        <div class="inbetween-separator">
            <hr>
        </div> 
        {{/each}}
        {{/each}}
    </div>
    <div class="end-separator">
        <hr>
    </div> 

<script>
    function redirectToSector(sector) {
        if (category !== 0){
            window.location.href = "/tables/" + sector;   
        } 
        else{
            window.location.href = "/tables/";
        }
        /*
        let prevChosenSubcat = document.querySelector('#chosen');
        prevChosenSubcat.removeAttribute("id");
        let button = event.target;
        button.setAttribute("id", "chosen");
        document.querySelector('.chosen_sector').textContent = button.textContent;
        */
    }
</script>
