    <div class="separator">
        <hr>
    </div>
    <div class="sectors">
        {{#each sectors}}
        {{#if chosen}}
        <button class="sector" id="chosen" onclick="redirectToSector('{{sector}}')">{{sector}}</button>
        {{else}}
        <button class="sector" onclick="redirectToSector('{{sector}}')">{{sector}}</button>
        {{/if}}
        {{/each}}
    </div>
    <div class = "chosen_sector">
        {{chosenSector}}
    </div>
    <div class="tables">
        {{#each tables}}
        <div class="table">
            <div class = "left-bar">
                {{ table }}
            </div>
            <div class = "right-bar">
                {{ status }}<br>{{#if extraInfo }}{{ extraInfo }}{{/if}}
            </div>
        </div>
        <div class="inbetween-separator">
            <hr>
        </div> 
        {{/each}}
    </div>
    <div class="end-separator">
        <hr>
    </div> 

<script>
    function redirectToSector(sector) {
        window.location.href = "/tables/" + sector;    
        let prevChosenSubcat = document.querySelector('#chosen');
        prevChosenSubcat.removeAttribute("id");
        let button = event.target;
        button.setAttribute("id", "chosen");
        document.querySelector('.chosen_sector').textContent = button.textContent;
    }
</script>
