    <div class="separator">
        <hr>
    </div>
    <div class = 'main'>
        {{#each items}}
        <div class="items">
            <div class="item-order" id={{id}}>
                <div class = 'desc-and-price'>
                    <p class="text-content">{{name}}</p>
                    <p class="price">{{price}} €</p>
                </div>
                <div class="desc-and-price-order">
                    <p class="desc">{{comment}}</p>
                    <!--<p class="price">amount: {{size}}</p>-->
                </div>       
                <div class = 'button-container-order'>
                    <button  class="button-order" onclick = "togglePaid(this)">Paid</button>
                </div>
            </div>
            <div class="inbetween-separator">
                <hr>
            </div>
        {{/each}}
        </div>   
        <div class = 'button-container'>
            {{!-- <button  class="btn btn-primary" style="background-color: rgba(27,93,107,1); margin-right: 20px;" id="submitorder">Submit Order</button>
            <button  class="btn btn-primary" style="background-color: rgba(27,93,107,1);" id="clearBasket">Clear Basket</button> --}}
            <form id="updatestatus" style="padding-left: 20px;">
                <button class="btn btn-primary" style="background-color: rgba(27,93,107,1);" type="submit">Set order Status</button>
                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name='status'>
                    {{#each status}}
                        <option value="{{status}}", {{#if selected}}selected{{/if}}>{{status}}</option>
                    {{/each}}
                </select>
                <i id="checkmark" style="color: rgba(27,93,107,1);"></i>
        </form>
        </div>
        <div class="end-separator">
            <hr>
        </div>
    </div>

    <script>
            function togglePaid(button){
                if (button.id === 'chosen'){
                    button.removeAttribute('id');
                } else {
                    button.setAttribute('id', 'chosen');
                }
            }

            const form = document.querySelector('#updatestatus');

            form.addEventListener('submit', async function (event) {
                event.preventDefault();
                let status = document.querySelector('#inlineFormCustomSelect');
                console.log(status);
                let checkmark = document.querySelector('#checkmark');
                try {
                    const response = await fetch('/worker/setorderstatus', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        orderId: {{items.[0].orderId}},
                        status: status.value
                    })});
                    if (response.status == 200) {
                        checkmark.setAttribute('class', 'fa-solid fa-check');
                    } else {
                        checkmark.setAttribute('class', null);
                    }
             }catch (err) {
                    console.error('Error:', err);
                }
            }); 
    </script>

    