    <div class="separator">
        <hr>
    </div>
    <div class="menu_categories">
        {{#each locations}}
        {{#if chosen}}
        <button class="menu" id="chosen" onclick="redirectToSector(0)">{{tablelocation}}</button>
        {{else}}
        <button class="menu" onclick="redirectToSector('{{tablelocation}}')">{{tablelocation}}</button>
        {{/if}}
        {{/each}}
    </div>
    <div class = 'main'>
        {{#each tables}}
        <div class = "chosen_sector">
            {{@key}}
        </div>
        <div class="tables">
            {{#each this}}
            <div class="table">
                <div class = "left-bar" >
                        <button class = 'table-item' onclick="getTablesOrder({{tableid}}, '{{status}}', '{{tablelocation}}', '{{name}}')">{{tablelocation}} {{name}}</button>
                </div>
                <div class = "right-bar-tables">
                    {{ status }}
                </div>
                {{#if isAvailable}}
                <button class="btn btn-primary" style="background-color: rgba(27,93,107,1);" onclick="selecttable({{tableid}})" >Order</button>
                {{/if}}
                {{#if addToOrder}}
                <button class="btn btn-primary" style="background-color: rgba(27,93,107,1);" onclick="selecttable({{tableid}})" >Add more items</button>
                {{/if}}

            </div>
            <div class="inbetween-separator-tables">
                <hr>
            </div> 
            {{/each}}
            {{/each}}
        </div>
        <div class="end-separator">
            <hr>
        </div> 
    </div>

<script>
    function redirectToSector(tablelocation) {
        if (tablelocation !== 0){
            window.location.href = "/worker/tables/" + tablelocation;   
        } 
        else{
            window.location.href = "/worker/tables/";
        }
    }

    function selecttable(tableid){
        window.location.href = "/worker/tables/select/" + tableid;
    }

    

    function getTablesOrder(tableid, status, tablelocation, name){
        if (status === 'Free'){
            alert('No orders yet for this table.');
        }
        else{
            window.location.href = "/worker/tables/order/" + tableid;
        }
    }

</script>